html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

:root {
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --primari-bg-color: #F5F5F5;
    --secondary-color: #FFFFFF;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primari-bg-color);
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    outline: 2px solid tomato;
}

/* Resset */

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.header {
    background-color:#FFFFFF;
}

/* Logo */

.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
}

.logo .studio {
    color: #000;
}
.logo .logo-studio {
    color: var(--secondary-color);
}

/*nav*/
.nav-site .link {
    color: var(--primary-text-color);
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}
.nav-site .link:hover,
.nav-site .link:focus {
    color: var(--accent-color);
}

.contacts .link {
    color: #757575;
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em
}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

/* hero */
.hero {
    background-color: #2F303A;
    margin-bottom: 94px;
    padding-top: 200px;
    padding-bottom: 200px;
    
    outline: 2px solid red;
}

.hero>.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    /* padding-top: 200px; */

    color: var(--secondary-color);

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
}
.hero .hero-button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    border-style: none;

    color: var(--secondary-color);
    background-color: var(--accent-color);
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* display: flex; */

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* .feature */

.feature1 {
    /* background-color: teal; */
    margin-bottom: 94px;
}

.feature .paragraf-feature,
.team .team-work {
    color: #757575;
}

.feature .title-feature {
    margin-top: 0;
    margin-bottom: 10px;
    width: 270px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.feature .paragraf-feature {
    margin: 0;
    width: 270px;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* what we doing */

.work .title-work{
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.work-list {
    margin-bottom: 94px;
}

.work-list img {
    display: block;
}

/* Team */

.team {
    background-color: #F5F4FA;

    padding-top: 94px;
    padding-bottom: 94px;

    outline: 3px solid blue;
}

.team .title-team {
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.team .team-name,
.team .team-work {

        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
}

.team .team-name {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
}

.team .team-work {
    font-weight: 400;
}

.border-team {
    border-top-style: solid;
    width: 270px;
    height: 368px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    background-color: #fff;

}

/* portfolio */

.portfolio-nav{
    margin-top: 94px;
    margin-bottom: 94px;
}

.portfolio-nav .button-nav {
    border-radius: 4px;
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    border-style:none;
    min-width: 73px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.button-nav:first-child {
    padding: 6px 25px;
}

.button-nav:not(:first-child) {
    padding: 6px 22px;
}

.portfolio-nav .button-nav:hover,
.portfolio-nav .button-nav:active {
    color: var(--secondary-color);
    background-color: var(--accent-color);
}

.portfolio-example h3 {
    margin-top: 20px;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-example p {
    color: #757575;

    font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
}

/* футер */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2F303A;

}

.address {
    margin-top: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71; 
    letter-spacing: 0.03em;
}

.address .link {
    color:  rgba(255, 255, 255, 0.6);

    font-style: normal;
}

.address .link:not(:last-child) {
    margin-bottom: 9px;
}

.address .map {
    color: var(--secondary-color);
    font-style: normal;
}